@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

:focus {
  @apply outline outline-1 outline-accent !important;
}

@layer components {
  .nav-link {
    @apply relative flex items-center justify-start text-xl font-semibold pl-4 text-text h-full w-full rounded overflow-hidden z-10 transition-all duration-200;
  }
  .text-field {
    @apply field-shadow bg-accent bg-opacity-35 rounded px-2 py-1 text-md focus:bg-opacity-50 focus:outline-accent focus:outline !important;
  }
  .accordian-trigger {
    @apply bg-accent bg-opacity-50 p-4 py-3 data-[state='closed']:rounded data-[state='open']:rounded-t !important;
  }
  .accordian-content {
    @apply flex items-center justify-between gap-2 bg-accent bg-opacity-25 p-2 pt-3 !important;
  }
  .piece-dialog {
    @apply w-fit h-fit rounded desktop:w-[700px] desktop:max-h-[900px] laptop:w-[600px] laptop:max-h-[800px] overflow-y-scroll scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary hover:scrollbar-thumb-secondary !important;
  }
  .select-field {
    @apply w-full text-text bg-accent bg-opacity-35 data-[state='open']:bg-opacity-50 border-none font-normal rounded divide-x-2 divide-secondary field-shadow !important;
  }
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0px 2px 12px hsla(0, 0%, 0%, 0.15);
  }
  .shadow-inset-custom {
    box-shadow: inset 0px 2px 6px hsla(0, 0%, 0%, 0.15);
  }
  .shadow-inset-custom-lg {
    box-shadow: inset 0px 0px 6px 3px hsla(0, 0%, 0%, 0.15);
  }
  .field-shadow {
    box-shadow: inset 0px 0px 6px 1px hsla(0, 0%, 0%, 0.1);
  }
  .shadow-custom-lg {
    box-shadow: 0px 1px 8px hsla(0, 0%, 0%, 0.35);
  }
  /* ::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-color: aqua !important;
  } */
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
